<div class="footer">
    <div class="footer_ctn">
        <div class="footer_section about">
            <h3 class="logo"><span>Ronda</span> Auto</h3>
            <p>
                Dacă aveți dorința de a conduce un automobil
                și insicatoarele rutiere nu inseamnă nimic pentru
                dumneavoastră la acest moment atunci este timpul
                să urmați cursurile puse la dispoziție de noi.<br />
                Navigați în pagină pentru mai multe detalii despre programele puse la dispoziție
                și pentru datele noastre de contact.
            </p>
            <p><span>Telefon</span> 0746825610</p>
            <p><span>Email</span> ronda_auto@gmail.com</p>
            <a href ="https://www.facebook.com/">Facebook</a>
        </div>
        <div class="footer_section links">
            <h3>Navighează</h3>
            @Html.ActionLink("Despre noi", "AboutUs", "Home")
            @Html.ActionLink("Programe și tarife", "ProgramsAndRates", "Home")
            @Html.ActionLink("Instructori auto", "Instructors", "Home")
            @Html.ActionLink("Contacte", "Contact", "Home")
        </div>
        <div class="footer_section contact">
            <h3>Contactează-ne</h3>
            @using (Html.BeginForm("", ""))
            {
                <div class="contact_form_group">
                    <input type="email" id="form_email" placeholder="Adresa de email" />
                </div>
                <div class="contact_form_group">
                    <textarea id="form_message" placeholder="Mesaj"></textarea>
                </div>
                <p id="error_message">
                </p>
            }
            <input type="submit" values="Send" id="send_contact_form" />
        </div>
    </div>
    <div class="footer_btm">
        Copyright &copy; 2021 - Licență - All rights rezerved<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</div>