@inject SignInManager<ApplicationUser> signInManager;

<header>
    <nav class="navbar_container">
        <div class="container_questions">
            <div class="brand_ctn">
                <ul>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="" asp-action="">Ronda Auto</a>
                    </li>
                </ul>
            </div>
            <div class="profile_ctn">
                @if (User.IsInRole("Admin"))
                {
                    <button onclick="show_menu()" id="show_menu_btn">Meniu</button>
                }
            <ul>
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Instructor")))
                {
                    <li class="navigation_ctn" id="navigation_ctn_large">
                        <ul id="menu_list_large">
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="item">
                                    <a class="nav_link" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roluri</a>
                                </li>
                                <li class="item">
                                    <a class="nav_link" asp-area="" asp-controller="Administration" asp-action="ListUsers">Utilizatori</a>
                                </li>
                            }
                            @if (User.IsInRole("Instructor"))
                            {
                                <li class="item">
                                    <a class="nav_link" asp-area="" asp-controller="Notes" asp-action="Notes">Calendar</a>
                                </li>
                            }
                            <li class="item">
                                <a class="nav_link" asp-area="" asp-controller="Questions" asp-action="Categories" asp-route-id="1">Întrebări</a>
                            </li>

                        </ul>
                    </li>
                }
                @if (signInManager.IsSignedIn(User))
                {
                    @if (!User.IsInRole("Admin"))
                    {
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="Questions" asp-action="Categories" asp-route-id="0">Test</a>
                        </li>
                    }
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="Account" asp-action="Conversations" asp-route-id="0">Conversații</a>
                    </li>
                    <li class="item">
                        <button onclick="show_profile_menu()" id="show_profile_menu_btn">Profil</button>
                        <div id="profile_menu_nv" class="navigation_ctn" style="display: none">
                            <ul id="profile_menu_list">
                                @if (!User.IsInRole("Admin") && signInManager.IsSignedIn(User))
                                {
                                    <li class="item"><a class="nav_link" asp-area="" asp-controller="Account" asp-action="TestsResults">Testele mele</a></li>
                                }
                                <li class="item"><a class="nav_link" asp-area="" asp-controller="Account" asp-action="ChangePassword">Schimbă parola</a></li>
                                <li class="item"><a class="nav_link" asp-area="" asp-controller="Account" asp-action="EditUser">Editează profilul</a></li>
                                <li class="item"><a class="nav_link" asp-area="" asp-controller="Account" asp-action="ChangeEmail">Editează email-ul</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="account" asp-action="Logout">Deconectare</a>
                    </li>
                }
                else
                {
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="Account" asp-action="Login">Autentificare</a>
                    </li>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="Account" asp-action="Register">Înregistare</a>
                    </li>
                }
            </ul>
            </div>
            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Instructor")))
            {
                <div class="navigation_ctn" id="navigation_ctn">
                    <ul id="menu_list">
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roluri</a>
                        </li>
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="Administration" asp-action="ListUsers">Utilizatori</a>
                        </li>
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="Questions" asp-action="Categories" asp-route-id="1">Întrebări</a>
                        </li>
                        
                    </ul>
                </div>
            }
            </div>
    </nav>
</header>