@inject SignInManager<IdentityUser> signInManager;

<header>
    <nav class="navbar_container">
        <div class="container_questions">
            <div class="brand_ctn">
                <ul>
                    <li class="item" id="logo_img">
                        <img src="~/Images/car.jpg" class="logo_img" />
                    </li>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="" asp-action="">Name</a>
                    </li>
                </ul>
            </div>
            <div class="navigation_ctn">
                <ul>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="" asp-action="">Despre noi</a>
                    </li>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="" asp-action="">Instructori</a>
                    </li>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="Questions" asp-action="Categories" asp-route-id="1">Intrebari</a>
                    </li>
                    <li class="item">
                        <a class="nav_link" asp-area="" asp-controller="Questions" asp-action="Categories" asp-route-id="0">Test</a>
                    </li>
                </ul>
            </div>
            <div class="profile_ctn">
                <ul>
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="account" asp-action="Logout">Log out</a>
                        </li>
                    }
                    else
                    {
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="account" asp-action="login">Log In</a>
                        </li>
                        <li class="item">
                            <a class="nav_link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>
</header>