@model IEnumerable<IdentityRole>

@{ 
    ViewBag.Title = "All roles";
}
<h1>All roles </h1>

@if (!Model.Any())
{
    <div>
        No roles created yet
    </div>
}
else
{
    foreach(var role in Model)
    {
        <div>
            <div>
                @Html.Label(role.Id)
                @Html.Label(role.Name)
            </div>
            <div>
                @Html.ActionLink("Lista utilizatori", "ListUsersInRole", "Administration", new { roleId = role.Id }, null)
            </div>
        </div>
    }
}
<div>
    @Html.ActionLink("Adauga un nou rol", "CreateRole", "Administration")
</div>