@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model licenta.ViewModel.TestViewModel
<div class="container">
    <div id="test_container">
        <p id="result"> </p>
        <div class="qst_left">
            <p>Întrebari ramase</p>
            <p id="nr_questions"> @Model.NumberOfQuestions</p>
        </div>
        <div class="wrong_correct_answ" style="display: none;">
            <div class="correct_answers">
                <p>Raspunsuri corecte<p>
                <p id="correct_answers"> 0</p>
            </div>
            <div class="wrong_answers">
                <p>Raspunsuri gresite</p>
                <p id="wrong_answers"> 0</p>
            </div>
        </div>
        <div id="question_container">
            <p id="question_text"></p>
            <br />
            <div id="answers"></div>
            <p id="error_message"></p>
            <p id="explanation"> </p>
        </div>
        <div id="test_buttons">
            <div>
                <input type="submit" id="show_explanation" value="Vezi explicatia" style=" display: none;" />
                <input type="submit" name="submitButton" value="Verifica" style="display: none;" id="verify_answer" />
            </div>
            <input type="submit" id="btn_next_question" value="Start Test" />
            <a href="" id="anch_show" style="display: none;">Vezi intrebarile gresite</a>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        var model = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/js/test.js">
    </script>
}
@section Style{
    <link href="@Url.Content("~/css/test.css")" rel="stylesheet" type="text/css" />
}




