@{ 
    ViewData["Title"] = "Categorii";
}
@model IEnumerable<licenta.Models.Category>
<div id="categories_ctn">
    @foreach (var category in Model)
    {
        <div class="category">
            @Html.ActionLink("Categoria: " + category.Name, "Test", "Questions", new { id = category.Id }, null)
        </div>
    }
</div>

@section Style{
    <link href="@Url.Content("~/css/categories.css")" rel="stylesheet" type="text/css" />
}
