@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model licenta.ViewModel.TestViewModel

<div id="test_form">
    <div class="form_container">
        <div>
            <p>Numarul de raspunsuri corecte<p>
            <p id="correct_answers"> 0</p>
            <p>Numarul de raspunsuri gresite</p>
            <p id="wrong_answers"> 0</p>
            <p>Numarul de intrebari</p>
            <p id="nr_questions"> @Model.NumberOfQuestions</p>
            <p id="question_text"></p>
        </div>

        <br />
        <div id="answers">
        </div>
        <p id="error_message"></p>
    </div>
</div>
<input type="submit" name="submitButton" value="Verifica" style="display: none;" id="verifyAnswer" />
<input type="submit" id="btn_next_question" value="Start Test" />
<input type="submit" id="btn_finish" style="display: none;" value="Salveaza testul"/>

@section Scripts{
    <script>
        var model = @Html.Raw(Json.Serialize(Model));
        console.log(model);
        var correctAnswers = 0;
        var category = model.categoryId;
        var index = -1;
        var answers = document.getElementById("answers");


        @* function to add next question *@

        $("#btn_next_question").click(function () {
            if (index < 0) {
                $("#verifyAnswer").show();
                $("#btn_next_question").attr('value', 'Urmatoarea intrebare');
            }

            if (index + 1 >= model.questions.length) {
                index = -1;
            }

            if (model.questions.length > 0) {
                console.log(">1");
                next_question();
            } else {
                var data = take_data();
                console.log("am terminat");
            }
        });

        $("#verifyAnswer").click(function () {
            if (model.questions.length > 7) {
                var data = take_data();
                verify_answers(data);
            } else {
                @*save_test(correctAnswers, model.numberOfQuestions, categoryId);*@
                save_test();
            }
        });

        function next_question() {
            index++;
            console.log("index ===" + index);
@*            var questionIndex = unansweredQuestions.indexOf(model.questions[index].id);*@
            $("#error_message").text("");

@*            if (index != 0 && questionIndex > 0) {
                var data = take_data();
                verify_answers(data);
                console.log("noooooooooooo");
            }*@


            $("#question_text").text(model.questions[index].text);
            $("#answers").empty();
            for (var i = 0; i < model.questions[index].answers.length; i++) {
                var check = document.createElement("INPUT");
                check.setAttribute("type", "checkbox");
                check.setAttribute('id', model.questions[index].answers[i].id);
                check.setAttribute("value", model.questions[index].answers[i].id);
                var nod = document.createTextNode(model.questions[index].answers[i].text);
                $("#answers").append(check, nod);
            }

        }

        function take_data() {
            var selected = [];
            $('#answers input:checked').each(function () {
                selected.push($(this).attr('id'));
            });
            var data = JSON.stringify(selected);
            return data;
        }


        function save_test() {
            $.ajax({
                type: "GET",
                url: '@(Url.Action("SaveTest", "Questions"))',
                data: { correctAnswers: correctAnswers, categoryId: model.categoryId },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data) {
                $("#test_form").text("ouau");
            }

            function errorFunc(data) {
                $("#error_message").text("error");
            }
        }

        function verify_answers(data) {
            var res = $.ajax({
                type: "GET",
                url: '@(Url.Action( "VerifyAnswer", "Questions"))',
                data: { data: data, questionid: model.questions[index].id},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc

            });
            function successFunc(data) {
                if (data.id == 0) {
                    if (index > -1) {
                        correctAnswers++;
                        $("#correct_answers").text(correctAnswers);
                    }
                    $("#error_message").text("Ai raspuns corect");
                } else {
                    if (index > -1) {
                        $("#wrong_answers").text(function (i, oldvalue) {
                            return parseInt(oldvalue, 10) + 1;
                        });
                    }
                    $("#error_message").text("Ai raspuns gresit");
                    console.log("wrong_answers");
                }

                if (index > -1) {
                    $("#nr_questions").text(function (i, oldvalue) {
                        return parseInt(oldvalue, 10) - 1;
                    });
                    console.log(model.questions[index].id);
                    model.questions.splice(index, 1);
                    console.log("sters" + JSON.stringify(model.questions));
                }
                index--;
            }

            function errorFunc(data) {
                $("#error_message").text("error");
            }
        }
    </script>
}




