<div class="main_ctn">
    <div class="title_ctn"> @ViewBag.MessageTitle</div>
    <div class="text_ctn"> @ViewBag.MessageText</div>
</div>

@section Style{
    <link href="~/css/user_message.css" rel="stylesheet" />
}