@{
    ViewData["Title"] = "Privacy Policy";
}
@section Style{ 
    <link href="~/css/about_us.css" rel="stylesheet" />
}

<h2>Politica de confidențialitate</h2>

<div class="main_ctn">
    <p>
        &emsp; Protecția datelor este un aspect deosebit de important pentru noi.
        Utilizarea paginilor noastre de Internet este posibilă fără indicarea
        datelor personale, cu toate acestea, dacă cineva dorește să utilizeze
        servicii noastre prin intermediul site-ului, prelucrarea datelor cu
        caracter personal ar putea deveni necesară. Dacă prelucrarea datelor
        cu caracter personal este necesară și nu există o bază legală sau un
        contract pentru o astfel de prelucrare, obținem în general consimțământul
        persoanei vizate.<br /><br />

        &emsp; Prelucrarea datelor cu caracter personal, cum ar fi numele, adresa, adresa
        de e-mail sau numărul de telefon al persoane vizate,
        trebuie să se desfășoare în conformitate cu Regulamentul general privind
        protecția datelor (GDPR) și în conformitate cu protecția datelor specifice
        fiecărei țări. Prin intermediul acestei politici de confidențialitate a datelor,
        dorim să vă informăm cu privire la natura, scopul și temeiul prelucrării datelor
        cu caracter personal și a drepturilor pe care le aveți.<br /><br />

        &emsp; În vederea conformării cu prevederile Regulamentului general privind protecția
        datelor (GDPR), am implementat numeroase măsuri tehnice și organizaționale menite
        să asigure cea mai completă protecție a datelor personale prelucrate prin intermediul
        acestui site web. Cu toate acestea, transferul de date prin Internet pot, în principiu,
        să aibă lacune de securitate, așadar protecția absolută nu poate fi garantată.<br /><br />

        &emsp; Principiile care guvernează politica noastră de confidențialitate și de prelucrare a
        datelor cu caracter personal sunt:<br />
        &emsp;&emsp; - Principiul legalității, corectitudinii și transparenței. Aceasta impune ca
        datele cu caracter personal să fie prelucrate în mod legal, corect
        și transparent în raport cu persoanele vizate.<br />
        &emsp;&emsp; - Principiulimitării scopului. Aceasta impune ca datele cu caracter personal
        trebuie să fie colectate numai în scopuri specificate, explicite și legitime.<br />
        &emsp;&emsp; - Principiu colectării minimului de date pentru atingerea scopului pentru care
        s-a obținut consimțământul . Conform acestui principiu, datele cu caracter
        personal trebuie să fie adecvate, relevante și limitate la ceea ce este necesar
        în raport cu scopurile pentru care sunt prelucrate.<br />
        &emsp;&emsp; - Principiul menținerii datelor actualizate asigura că datele cu caracter personal sunt
        corecte și sunt actualizate acolo unde este necesar.<br />
        &emsp;&emsp; - Principiul stocării datelor strict pe perioada pentru care s-a obținut
        consimțământul . Aceasta presupune ca datele cu caracter personal să fie
        păstrate într-o formă care să permită identificarea persoanelor vizate cel mult
        timp necesar pentru prelucrarea datelor.<br />
        &emsp;&emsp; - Principiu asigurării securității adecvate datelor astfel încât acestea să fie integre,
        confidențiale și disponibile.<br />
        &emsp;&emsp; -Principiu responsabilității , operatorul este responsabil de respectarea principiilor
        enumerate la articolul 5 alineatul (1) din GDPR și trebuie să fie în măsură să
        demonstreze respectarea acestora.<br />
    </p>
</div>
