@{ 
    ViewData["Title"] = "Programe";
}

@section Style{ 
    <link href="~/css/programs_rates.css" rel="stylesheet" />
}

<div class="program_ctn" id="category_A1">
    <h2>Categoria A1</h2>
    <div class="tax_ctn">
        <h3>Taxă</h3>   
        <div class="price_ctn">
            <h4> 1490 lei</h4>
        </div>
    </div>
    <h4>CURSUL AUTO</h4>
    <p>
        - 3 săptămâni, când posedă permis de conducere categoria AM cu vechime minimă de la 2 ani, timp în
        care efectuează 24 ore de pregătire teoretică şi 10 ore de pregătire practică (poligon şi traseu). 
        Pregătirea teoretică o precede pe cea practică.
    <br />
        - 4 săptămâni când nu posedă permis de conducere sau este posesor de permis de conducere pentru alte
        categorii în afară de AM, timp în care efectuează 24 ore de pregătire teoretică şi 26 ore de pregatire
        practică (poligon şi traseu).
    </p>
    <h4>Condiţii pentru înscriere:</h4>
    <p>
        - Vârsta: 16 ani fără trei luni ; <br />
        - Apt din punct de vedere medical - aviz obtinut numai de la unitatea medicala agreata de scoala noastra ; <br />
        - Apt din punct de vedere psihologic - aviz obtinut numai de la laboratorul scolii noastre ;<br />
        - Să nu fi fost condamnat definitiv pentru infracţiunile prevăzute la art.24 alin.6 din OUG nr.195/2002, cu
        excepţia cazurilor când a intervenit una din situaţiile prevăzute la art.116 din alin.1 din OUG nr.195/2002. <br />
    </p>

</div>

<div class="program_ctn" id="category_A2">
    <h2>Categoria A2</h2>
    <div class="tax_ctn">
        <h3>Taxă</h3>
        <div class="price_ctn">
            <h4> 1490 lei</h4>
            <h4>1390 lei (deţinător A1)</h4>
        </div>
    </div>
    <h4>CURSUL AUTO</h4>
    <p>
        - 3 săptămâni când posedă permis de conducere pentru categoria A1 cu o vechime de până la 2 ani, timp în care efectuează 12 ore 
        de pregătire teoretică şi 20 ore de pregătire practică (poligon şi traseu). Proba teoretică precede proba practică.<br />
        - 3 săptămâni când posedă permis de conducere pentru categoria A1 cu o vechime minimă de 2 ani, timp în care efectuează 24 ore 
        de pregătire teoretică şi 10 ore de pregătire practică (poligon şi traseu).<br />
        - 4 săptămâni, când nu posedă permis de conducere sau are permis de conducere pentru alte categorii, în afară de AM, timp în care 
        efectuează 24 ore de pregătire teoretică şi 26 ore de pregătire practică (poligon şi traseu).<br />
    </p>
    <h3>Condiţii pentru înscriere:</h3>
    <p>
        - Vârsta: 18 ani fără trei luni;<br />
        - Apt din punct de vedere medical - aviz obtinut numai de la unitatea medicala agreata de scoala noastra ;<br />
        - Apt din punct de vedere psihologic - aviz obtinut numai de la laboratorul scolii noastre ;<br />
        - Să nu fi fost condamnat definitiv pentru infracţiunile prevăzute la art.24 alin.6 din OUG nr.195/2002, cu excepţia
        cazurilor când a intervenit una din situaţiile prevăzute la art.116 din alin.1 din OUG nr.195/2002.<br />
    </p>
</div>

<div class="program_ctn" id="category_A">
    <h2>Categoria A</h2>
    <div class="tax_ctn">
        <h3>Taxă</h3>
        <div class="price_ctn">
            <h4>1490 lei</h4>
            <h4>1390 lei (deţinător A1 sau A2)</h4>
        </div>
    </div>
    <div class="description_ctn">
        <h4>CURSUL AUTO</h4>
        <p>
            - 3 săptămâni când posedă permis de conducere categoria A2 cu vechime de până la 2 ani, timp în care efectuează 12 ore de pregătire
            teoretică şi 20 ore de pregătire  practică (poligon şi traseu). Pregătirea teoretică, precede pregătirea practică.<br />
            - 3 săptămâni când posedă permis de conducere categoria A2 cu o vechime minimă de 2 ani, timp în care efectuează 24 ore de
            pregătire teoretică şi 10 ore de pregătire practică (poligon şi traseu).<br />
            - 4 săptămâni când nu posedă permis de conducere, sau când poseda permis de conducere pentru alte categorii în afara de AM, A1,
            si A2, timp în care efectuează 24 ore de pregătire teoretică şi 26 ore de pregătire practică (poligon şi traseu).<br />
        </p>
    </div>
    <div class="terms_ctn">
        <h4>Condiţii pentru înscriere:</h4>
        <p>
            - 24 ani fără trei luni, sau vârsta 20 ani, dacă posedă categoria A2 de cel putin 2 ani ;<br />
            - Apt din punct de vedere medical - aviz obtinut numai de la unitatea medicala agreata de scoala noastra ;<br />
            - Apt din punct de vedere psihologic - aviz obtinut numai de la laboratorul scolii noastre ;<br />
            - Să nu fi fost condamnat definitiv pentru infracţiunile prevăzute la art.24 alin.6 din OUG nr.195/2002, cu excepţia cazurilor
            când a intervenit una din situaţiile prevăzute la art.116 din alin.1 din OUG nr.195/2002.<br />
        </p>
    </div>
</div>

<div class="program_ctn" id="category_B">
    <h2>Categoria B</h2>
    <div class="tax_ctn">
        <h3>Taxă</h3>
        <div class="price_ctn">
            <h4>2350 lei</h4>
        </div>
    </div>
    <div class="description_ctn">
        <h4>CURSUL AUTO</h4>
        <p>
            Cursul pentru obţinerea permisului auto categoria B durează cel puţin 4 săptamâni, timp în care se efectuează 24 ore de pregătire teoretică şi 30
            ore de pregătire practică (conducere auto) Pregătirea teoretică o precede pe cea practică.<br />
        </p>
    </div>
    <div class="terms_ctn">
        <h4>Condiţii pentru înscriere:</h4>
        <p>
        - Copie carte (buletin) de identitate;            <br />
        - Apt din punct de vedere medical - aviz obtinut numai de la unitatea medicala agreata de scoala noastra ;<br />
        - Apt din punct de vedere psihologic - aviz obtinut numai de la laboratorul scolii noastre ;<br />
        - Vârsta: 18 ani fără trei luni;<br />
        - Să nu fi fost condamnat definitiv pentru infracţiunile prevăzute la art.24 alin.(6) din O.U.G. 195/2002,
          cu excepţia cazurilor când a întrunit una din situaţiile prevăzute la art.116 alin.(1).<br />
        </p>
    </div>
</div>
