@{
    ViewData["Title"] = "Acces Denied";
}

<div class="main_ctn">
    <div class="title_ctn"> Această paginănu este una activă pentru dumneavoastră.</div>
</div>

@section Style{
    <link href="~/css/user_message.css" rel="stylesheet" />
}