@model licenta.ViewModel.ChangeEmailViewModel

<div id="question_form_ctn">
    @using (Html.BeginForm())
    {
        <div class="form_group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <input type="submit" class="save_button" value="Salveaza" />
    }
</div>
@section Style{
    <link href="~/css/questionForm.css" rel="stylesheet" />
}