@model licenta.ViewModel.ChangeEmailViewModel
<p class="page_title">
    Editează adresa de email
</p>
<div id="form_ctn">
    @using (Html.BeginForm())
    {
        <div class="form_group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "validation_mesg" })
        </div>
        <input type="submit" class="save_button" value="Salvează" />
    }
</div>
@section Style{
    <link href="~/css/profile_forms.css" rel="stylesheet" />
}