@model licenta.ViewModel.ForgotPasswordViewModel
@{ 
    ViewData["Title"] = "Recuperare parolă";
}
<div id="form_ctn">
    @using (Html.BeginForm("ForgotPassword", "Account"))
    {
        <p class="title"> Recuperează parola</p>
        <div class="validation_summ_ctn"> @Html.ValidationSummary()</div>
        <div class="form_group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "validation_mesg" })
        </div>
        <input type="submit" class="save_button" value="Recuperează" />
    }
</div>
@section Style{ 
    <link href="~/css/profile_forms.css" rel="stylesheet" type="text/css"/>
}