<div>
    <ul>
        <li class="item">
            <a class="nav_link" asp-area="" asp-controller="account" asp-action="EditUser">Editeaza profilul</a>
        </li>
        <li class="item">
            <a class="nav_link" asp-area="" asp-controller="account" asp-action="Profile">Un bla</a>
        </li>
    </ul>
</div>