<div>
    <ul>
        <button type="submit" id="reset_pwd_btn">Reseteaza parola</button>
        <button type="submit" id="edit_info_btn">Editeaza profilul</button>
        <button type="submit" id="edit_email_btn">Editeaza email</button>

        <li class="item">
            <a class="nav_link" asp-area="" asp-controller="account" asp-action="Profile">Un bla</a>
        </li>
    </ul>
</div>

<div id="profile_ctn">

</div>
@section Scripts{
    <script src="~/js/profile.js"></script>
}