/*chat ctn*/
.page_ctn {
    height: 80vh;
}

.friend_ctn {
    display: none;
}

.chat_ctn {
    height: 94%;
    margin: 0 auto;
    width: 90%;
    max-width: 550px;
    padding: 5px 15px 0px 15px;
}

.friend_contact {
    padding: 0 0px 0 12px;
}

.messages_ctn {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 90%;
    font-size: 14px;
}

.send_msg_ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.form_group_input {
    width: 84%;
}

    .form_group_input input {
        width: 100%;
        border: none;
        background: #D5E1DD;
        line-height: 31px;
        font-size: 16px;
        outline: none;
        border-radius: 6px 0px 0px 6px;
    }

.form_group_submit {
    width: 15%;
}

    .form_group_submit button {
        width: 100%;
        border: none;
        background-color: #184D68;
        outline: none;
        color: #edf4f5;
        padding: 0;
        border-radius: 0px 6px 6px 0px;
    }

        .form_group_submit button img {
            height: 29px;
        }

.dark_message_ctn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px 0;
    background-color: #184D68;
    color: #edf4f5;
    margin-left: 14px;
    border-radius: 3px;
    padding-right: 16px;
}

    .dark_message_ctn p {
        margin: 0;
        padding: 5px 0 0px 10px;
    }

.msg_text {
    padding-bottom: 6px;
    padding-top: 4px;
}

.light_message_ctn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
    background-color: #edf4f5;
    color: #184D68;
    margin-right: 14px;
    border-radius: 3px;
    padding-left: 16px;
}

    .light_message_ctn p {
        margin: 0;
        padding: 5px 0 0px 0px;
    }

.msg_date {
    font-size: 10px;
    text-align: center;
}






/*coversations ctn*/
.search_ctn {
    width: 100%;
}

.search_form_ctn {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 6px;
    display: flex;
    justify-content: center;
}

    .search_form_ctn input[type ="text"] {
        width: calc(100% - 87px);
        line-height: 22px;
        font-size: 16px;
        outline: none;
        border: 2px solid #184D68;
        border-radius: 10px 0px 0px 10px;
        padding: 5px;
    }

    .search_form_ctn input[type ="submit"] {
        width: 63px;
        line-height: 22px;
        font-size: 15px;
        outline: none;
        border: none;
        background-color: #184D68;
        color: #edf4f5;
        border-radius: 0px 10px 10px 0px;
    }

.conversations_ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

    .conversations_ctn button[type="submit"] {
        border: 1.7px solid #184D68;
        margin: 1.5px 0;
        background: white;
        width: 92%;
        max-width: 680px;
        font-size: 14px;
    }

        .conversations_ctn button[type="submit"] div p {
            margin: 0;
        }

.friend {
    font-size: 15px;
}

.message_txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}

.sender_ctn {
    width: 48px;
    /*    overflow: hidden;
    text-align: start;*/
}

    .sender_ctn div {
        display: inline-flex;
    }

        .sender_ctn div p {
            max-width: 48px;
            overflow: hidden;
            margin: 0 5px;
        }

.text_ctn {
    width: calc(90% - 45px);
    text-align: end;
    max-height: 33px;
    overflow: hidden;
}

.message_time {
    text-align: end;
    font-size: 12px;
}

.message_not_seen {
    background-color: #DDECEF !important;
}

.result_ctn {
    display: flex;
    flex-direction: column;
    margin: 14px;
    align-items: center;
}

    .result_ctn button {
        border: 1.7px solid #184D68;
        margin: 1.5px 0;
        background: white;
        border-radius: 8px;
        width: 80%;
        max-width: 680px;
    }

        .result_ctn button p {
            margin: 0;
        }

.error_message_txt {
    text-align: center;
    font-size: 15px;
    margin: 0;
}

@media only screen and (min-width: 600px) {
    .page_ctn {
        display: flex;
        flex-direction: row;
    }

    .friend_ctn {
        display: block;
        min-width: 300px;
    }

    .friend_name {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        justify-content: center;
    }

    .chat_ctn {
        border-left: 3px solid #184D68;
        border-right: 3px solid #184D68;
        border-top: 2px solid #184D68;
    }

    .form_group_input input {
        line-height: 40px;
        font-size: 16px;
    }

    .form_group_submit button img {
        height: 37px;
    }

/*conversation ctn*/
    .search_ctn {
        width: 40%;
        max-width: 600px;
    }

    .conversations_ctn {
        width: 60%;
        max-width: 800px;
    }
}
