#filter_form {
    display: none;
}
.search_ctn {
    width: 100%;
}
#filters_menu_btn {
    width: 100%;
    padding: 4px;
    color: #3580a5;
    background: #EDF4F5;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.search_ctn form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%;
    margin: 10px auto;
}
.search_ctn form input{
    margin: 6px 17px;
    padding: 2px;
    border: none;
    border-bottom: 1.5px solid #184D68;
    outline: none;
    width: inherit;
    font-size: 17px;
}
.search_ctn form input[type="radio"]{
    height: 11px;
}
.search_ctn form text{
    font-size: 15px;
}
.search_ctn form p{
    margin: 6px 17px 6px 0px;
    font-size: 17px;
}
.search_ctn form input[type="submit"]{
    padding: 5px;
    border: none;
    background: #184D68;
    font-size: 16px;
    line-height: 20px;
    color: #EAEEEA;
    border-radius: 4px;
}
@media only screen and (min-width: 800px) {
    .search_ctn {
        width: 270px;
        align-self: stretch;
        border-right: 1.5px solid #184D68;
    }

    #filters_menu_btn {
        display: none;
    }

    #filter_form {
        display: flex;
        width: 89%;
    }
}