body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#logo_img{
    display: none;
}
ul {
    margin: 0;
}
.container_questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #184D68;
    padding: 5px 0px;
}

.brand_ctn, .navigation_ctn, .profile_ctn {
    display: flex;
}
#navigation_ctn{
    display: none;
}
#menu_list {
    position: absolute;
    background: #184D68;
    height: fit-content;
    padding: 10px 0;
}
#show_menu_btn {
    border: none;
    background: #184D68;
    font-size: 14px;
    color: #edf4f5;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    outline: none;
}
#show_profile_menu_btn {
    border: none;
    background: #184D68;
    font-size: 14px;
    color: #edf4f5;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    outline: none;
}
.brand_ctn ul, .navigation_ctn ul, .profile_ctn ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.profile_ctn ul{
    flex-direction: row;
}
.brand_ctn ul {
    padding: 3px 0px;
}
.profile_ctn ul li,.brand_ctn ul li{
    text-align: center;
    padding: 2px;
}
.navigation_ctn ul li {
    text-align: left;
    padding: 4px;
}
.brand_ctn ul li a, .navigation_ctn ul li a, .profile_ctn ul li a {
    text-decoration: none;
    color: #edf4f5;

}
#profile_menu_nv {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: #184D68;
}
#profile_menu_nv ul {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
#profile_menu_nv ul li{
    text-align: start;
}
@media only screen and (min-width: 900px) {
    header{
        height: 60px;
    }
    .navbar_container, .container_questions {
        height: 100%;
        padding: 0px;
    }
    #show_menu_btn{
        display:none;
    }
    #show_profile_menu_btn{
        font-size: 16px;
    }
    #menu_list {
        display: flex;
        height: 60px;
        padding: 0px;
        width: inherit;
    }
    #navigation_ctn {
        display: flex;
    }
    #logo_img {
        display: block;
    }
    .logo_img {
        height: 70px;
    }
    .brand_ctn{
        padding: 0;
    }
    .brand_ctn ul, .navigation_ctn ul, .profile_ctn ul {
        flex-direction: row;
        align-items: center;
    }
    .navigation_ctn ul li{
        width: 100%;
        text-align: center;
    }
    .brand_ctn ul{
        justify-content: space-evenly;
    }
    .profile_ctn{
        width: 25%;
    }
    .profile_ctn ul {
        justify-content: space-around;
    }
    .navigation_ctn ul {
        justify-content: space-evenly;
        margin: 0 4px;
    }
    .navigation_ctn {
        width: 40%;
    }
    .container_questions {
        flex-direction: row;
        justify-content: space-between;
    }
    #profile_menu_nv {
        display: flex;
        position: fixed;
        flex-direction: column;
        width: fit-content;
        left: auto;
        right: auto;
        border-radius: 0px 0px 20px 20px;
    }
    #profile_menu_nv ul {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 7px;
        padding: 10px 2px;
        border-radius: 17px 0px;
    }
    #profile_menu_nv ul li{
        text-align: start;
    }
    #profile_menu_nv ul li a{
        text-align: start;
        font-size: 14px;
    }
}
