body {
    font-family: 'Montserrat', sans-serif;
}
#instruction {
    font-size: 13px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
#no_data {
    padding: 30px;
    text-align: center;
    font-size: 16px;
}
.search_ctn form {
    display: flex;
    flex-direction: row;
    margin: 15px auto 0px;
    width: 90%;
}
.search_ctn form input[type="text"]{    
    margin: 12px 0;
    width: inherit;
    border: 2px solid #184D68;
    outline: none;
    font-size: 15px;
    line-height: 20px;
    padding: 3px;
    border-radius: 10px 0px 0px 10px;

}
.search_ctn form input[type="submit"]{    
    font-size: 16px;
    line-height: 30px;
    border: none;
    height: fit-content;
    margin: auto 0;
    padding: 0px 11px;
    background-color: #184D68;
    color: #edf4f5;
    outline: none;
    border-radius: 0px 10px 10px 0px;
}
.questions_ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}
.question_ctn {
    margin: 25px 6px;
}
.question_ctn a {
    color: #edf4f5;
    text-decoration: none;
    padding: 2px;
    font-size: 17px;
}
.qst_img_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qst_img_ctn img {
    margin-bottom: 20px;
}
.qst_asw_ctn {
    width: 100%;
}
.qst_ctn .qst_asw_ctn{
    width: 100%;
}
.question_label {
    border-bottom: 1px solid #184D68;
    background: #184D68;
    padding: 4px;
}
.qst_text {
    border-bottom: 1px solid;
    padding: 12px 20px 0 20px;
}
.delete_ctn {
    flex-direction: column;
    padding: 9px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: #184D68;
}
.delete_ctn a{
    padding: 5px 18px;
    font-size: 14px; 
    text-align: center;
    background: #edf4f5;
    color: #184D68;
    border-radius: 0px;
    margin: 4px 0;
}
.answers_ctn {
    padding: 10px 0;
    font-size: 15px;
}
.correct_answer {
    padding: 2px 20px 0 20px;
    background-color: #E4F6F8;
}
.btn_delete {
    width: 91%;
    padding: -6px;
    text-align: start;
    margin: 0 auto;
    padding: 4px 0;
    border-radius: 7px;
}
.btn_delete a{
    text-decoration: none;
    color: #B80028;
}
.answer {
    padding: 2px 20px 0 20px;
}
.explanation_ctn {
    border-top: 1px solid #184D68;
    background: #184D68;
    padding: 2px;
    color: white;
}
@media only screen and (min-width: 600px) {
    #instruction {
        font-size: 15px;
    }
    .btn_delete {
        max-width: 200px;
        font-size: 20px;
    }
    #no_data {
        font-size: 20px;
    }
    .search_ctn {
        width: 50%;
        margin: 0 auto;
    }

    .questions_ctn {
        display: flex;
        flex-direction: column;
        margin: 8px;
        align-items: center;
    }

    .question_ctn {
        width: 83%;
        max-width: 750px;
        margin: 24px 25px;
        box-shadow: 1px 3px 5px 5px #edf4f5;
    }

    .qst_img_ctn {
        flex-direction: row;
    }

    .qst_asw_ctn {
        width: calc(100% - 150px);
    }
/*    .delete_ctn {
        flex-direction: row;
    }
    .delete_ctn a{
        border-radius: 10px;
    }*/
}

@media only screen and (min-width: 1000px) {
    .delete_ctn {
        flex-direction: row;
    }

    .delete_ctn a {
        border-radius: 10px;
    }
}