body {
    font-family: 'Montserrat', sans-serif;
}
#instruction {
    font-size: 13px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
#no_data {
    padding: 30px;
    text-align: center;
    font-size: 16px;
}
.questions_ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}
.question_ctn{
    margin: 8px;
}
.question_ctn a {
    color: black;
    text-decoration: none;
    padding: 2px;
    font-size: 17px;
}
.qst_img_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qst_img_ctn img {
    margin-bottom: 20px;
}
.qst_asw_ctn {
    width: 100%;
}
.qst_ctn .qst_asw_ctn{
    width: 100%;
}
.question_label {
    border-bottom: 1px solid #184D68;
}
.qst_text {
    border-bottom: 1px solid;
    padding: 12px 20px 0 20px;
}
.delete_ctn {
    margin: 15px 0;
    padding: 8px;
    text-align: center;
    background: #184D68;
}
.delete_ctn a{
    margin: 15px 0;
    padding: 8px;
    font-size: 14px; 
    text-align: center;
    background: #184D68;
    color: #edf4f5;
}
.answers_ctn {
    padding: 10px 0;
}
.correct_answer {
    padding: 2px 20px 0 20px;
    background-color: #E4F6F8;
}
.answer {
    padding: 2px 20px 0 20px;
}
.explanation_ctn {
    border-top: 1px solid #184D68;
}
@media only screen and (min-width: 600px) {
    #instruction {
        font-size: 15px;
    }

    #no_data {
        font-size: 20px;
    }

    .questions_ctn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question_ctn {
        width: 45%;
        margin: 24px 25px;
        box-shadow: 1px 3px 5px 5px #edf4f5;
    }

    .qst_img_ctn {
        flex-direction: row;
    }

    .qst_asw_ctn {
        width: calc(100% - 200px);
    }
}