.page_title {
    text-align: center;
    padding: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.page_ctn {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-items: center;
}
#filter_form{
    display: none;
}
.search_ctn{
    width: 100%;
}
#filters_menu_btn {
    width: 100%;
    padding: 4px;
    color: #3580a5;
    background: #EDF4F5;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.search_ctn form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 85%;
    margin: 10px auto;
}
.search_ctn form input{
    margin: 6px 17px;
    padding: 2px;
    border: none;
    border-bottom: 1.5px solid #184D68;
    outline: none;
    width: inherit;
}
.search_ctn form input[type="radio"]{
    height: 11px;
}
.search_ctn form text{
    font-size: 15px;
}
.search_ctn form p{
    margin: 6px 17px;
}
.search_ctn form input[type="submit"]{
    padding: 5px;
    border: none;
    background: #184D68;
    font-size: 16px;
    line-height: 20px;
    color: #EAEEEA;
    border-radius: 4px;
}
.page_title {
    padding: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.page_ctn a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #3580a5;
}
.info_ctn {
    text-align: center;
}
.users_ctn{
    display: flex;
    flex-direction: column;
    text-align:start;
}
.user_data_ctn {
    border: 1px solid #184D68;
    padding: 15px 17px;
    margin: 17px 0px;
}
.user_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    font-weight: bolder;
}
.user_contact {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.user_contact label{
    padding: 5px 0px;
}
.user_data_ctn form button {
    padding: 5px;
    width: 100%;
    border: none;
    background: #184D68;
    font-size: 16px;
    line-height: 20px;
    color: #EAEEEA;
    border-radius: 4px;
}
@media only screen and (min-width: 600px) {

    .users_ctn {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 32px;
    }

    .user_data_ctn {
        width: 323px;
        margin: 23px;
        font-size: 14px;
    }
}
@media only screen and (min-width: 800px) {
    .search_ctn {
        width: 230px;
    }
    .info_ctn {
        width: calc(100% - 230px);
    }
    .page_ctn {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    #filters_menu_btn {
        display: none;
    }

    #filter_form {
        display: flex;
    }
}