body {
    font-family: 'Montserrat', sans-serif;
}
.pb-3 {
    display: flex;
    flex-direction: column;
}
.question_container {
    padding: 15px 0;
}
.qst_text {
    border-bottom: 1px solid;
    padding: 12px 20px 0 20px;
}
.correct_answer {
    padding: 2px 20px 0 20px;
    background-color: #E4F6F8;
}
.answer {
    padding: 2px 20px 0 20px;
}
@media only screen and (min-width: 600px) {
    .pb-3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .question_container {
        width: 35%;
        margin: 10px 25px;
        box-shadow: 1px 3px 5px 5px #edf4f5;
    }
}